$primary: #6a4c93; //#ddbea9;
$secondary: #3a0ca3;

@import '~bootstrap/scss/bootstrap';

.card {
  margin: 10px;
}

.h3Indexstyle {
  max-width: 425px;
  text-align: center;
  overflow: hidden;
  border-right: .15em solid $primary;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 5.0s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $primary; }
}

@media only screen and (max-width: 380px) {

  h6 {

  }
  #indexPage-message {

  }


}
