$primary: #236FA0; //#6a4c93 - purple; //#ddbea9 - tanish color;
$secondary: #3a0ca3;
$blogFont: scale-color($primary, $lightness: 90%);


@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,500;1,900&display=swap');

html {
  scroll-behavior: smooth;
  background-color: #f9cd1b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23ff0299'/%3E%3Cstop offset='1' stop-color='%23236fa0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23f9cd1b' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}



.jumbotron {
  text-align: center;
  background: transparent;
  color: white;
}

body {
  background:transparent;
  font-family: 'Cormorant Garamond';
  font-size: 20px;

}

.card-text {
  color: #000000;
}

#indexPage-message {
  text-align: center;
}

.display-4 {
  font-size: 70px;
  font-weight: bolder;
  transition: .5s;
  text-shadow: 2px 2px 2px #000000;
  text-decoration: none;
}

.logo {
  height: 140px;
}
.card {
  margin: 10px;
}

h2 {
  font-stretch: expanded;
}

.h3Indexstyle {
  color: white;
  max-width: 425px;
  text-align: center;
  overflow: hidden;
  border-right: .15em solid $primary;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
  typing 5.0s steps(40, end),
  blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $primary; }
}

// @media only screen and (max-width: 380px) {

//   h6 {

//   }

//   #indexPage-message {

//   }


// }
